<div class="card my-5">
    <div class="title">
        <p class="task-title">Aufgabe 1</p>
        <p>Dein Ergebniss:  {{ solutionTask1 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask1 }} </p>
    </div>
    <div>
        <p class="task-title">Aufgabe 2</p>
        <p>Dein Ergebniss: {{ solutionTask2 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask2 }}</p>
        <p>Dein Ergebniss: {{ solutionTask2_1 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask2_1 }}</p>
    </div>
    <div>
        <p class="task-title">Aufgabe 3</p>
        <p>Dein Ergebniss: {{ solutionTask3 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask3 }}</p>
        <p>Dein Ergebniss: {{ solutionTask3_1 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask3_1 }}</p>
    </div>
    <div>
        <p class="task-title">Aufgabe 4</p>
        <p>Dein Ergebniss: {{ solutionTask4 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask4 }}</p>
        <p>Dein Ergebniss: {{ solutionTask4_1 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask4_1 }}</p>
    </div>
    <div>
        <p class="task-title">Aufgabe 5</p>
        <p>Dein Ergebniss: {{ solutionTask5 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask5 }}</p>
        <p>Dein Ergebniss: {{ solutionTask5_1 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask5_1 }}</p>
        <p>Dein Ergebniss: {{ solutionTask5_2 }}</p>
        <p class="expected-title">Erwartetes Ergebniss: {{ expectedTask5_2 }}</p>
    </div>
</div>
